.articles__title {
  background-color: $base;
  border-top: 1px solid #8ad4c2;
  h2 {
    padding: 18px 0;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    color: $white;
  }
}

.articles__list {
  display: flex;
  flex-wrap: wrap;
  background-color: #242a2c;
}

.articles__item {
  position: relative;
  width: 50%;
  max-height: 160px;
  overflow: hidden;
  cursor: pointer;
  &:hover .description {
    opacity: 1;
  }
}

img {
  display: inline-block;
  margin:-41px -156px -40px -30px;
}

.articles-img--mobile {
  display: none;
}

.description {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20% 7%;
  background-color: rgba(0, 0, 0, 0.5);
  color: $base;
  font-size: 17px;
  line-height: 30px;
  @extend %transition;
}

.description time {
  font-size: 12px;
  line-height: 30px;
  color: #9da5a3;
}

.darkened {
  position: relative;
}

.darkened::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 1;
}
